@import url(https://fonts.googleapis.com/css?family=Orbitron);
.escritura, .tiempos{
	font: caption;
	width: 20%;
	display:inline-block;
	height:245px;
	vertical-align: bottom;
	padding: 20px;  
	position: relative;
}
.panel{
	width: 44%;
	margin: auto;
}
.resultados{
	position: relative;
	height:245px;
	display:none;
	font: caption;
	margin: auto;
	padding: 20px;  
	vertical-align: bottom;
}
#tabla_resultados{
	width: 200px;	
}
th {
  text-align: left;
}
td{
	height: 20px;
	vertical-align: bottom;
}
.tiempos{
  font-family: Orbitron;
}

#cadena {
  width: 100%;
  display: inline-block;  
  word-wrap: break-word;
}
